.dashcontrols {
    display: flex;
}
.dashboardchartarea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    height: calc(100vh - 220px);
    overflow-y: auto;
}
@media (max-width: 1365px) {
    .dashboardchartarea {
        grid-template-columns: 1fr 1fr;
    }
}
@media (max-width: 641px) {
    .dashboardchartarea {
        grid-template-columns: 1fr;
    }
}