.chartnodetext {
    fill: var(--color-text)
}

.chartdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.charttitle {
    text-align: center;
}
.charttitle h2 {
    margin-bottom: 2px;
}

